canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px black;
}
table {
  display: inline-block;
}
canvas {
  display: inline-block;
}
content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
